appnope==0.1.0
backcall==0.1.0
beautifulsoup4==4.8.2
bs4==0.0.1
certifi==2022.12.7
chardet==3.0.4
decorator==4.4.2
idna==2.9
ipython==7.13.0
ipython-genutils==0.2.0
jedi==0.16.0
parso==0.6.2
pexpect==4.8.0
pickleshare==0.7.5
prompt-toolkit==3.0.4
ptyprocess==0.6.0
Pygments==2.6.1
PyYAML==5.3.1
requests==2.23.0
six==1.14.0
soupsieve==2.0
traitlets==4.3.3
ua-parser==0.10.0
urllib3==1.25.8
user-agents==2.1
wcwidth==0.1.8
